@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Tajawal", sans-serif;
  direction: rtl;
}

.mainButton {
  @apply bg-mainYellow px-10  mt-5  py-3 rounded-lg;
}

Square1 {
  @apply w-Square h-Square rounded-md border-mainYellow relative border-2 inline-block;
}
Square2 {
  @apply w-Square h-Square absolute rounded-md bg-mainYellow top-1/2 left-1/2  inline-block;
}
p {
  @apply text-xl;
}
h3 {
  @apply text-2xl font-bold my-5;
}
h4 {
  @apply text-H4 font-bold my-3;
}
icon {
  @apply absolute top-0 left-1/2 translate-x-[-50%] translate-y-[-50%]   h-icon flex justify-center items-center bg-mainYellow w-icon  rounded-full;
}

ItemOfAbout {
  @apply bg-secondaryColor relative flex flex-col mt-24 rounded-lg p-10 ps-3;
}

.FooterLine {
  @apply text-center text-base bg-footerColor1 text-white;
}
footer h4 {
  @apply mb-10 text-white;
}
footer p {
  @apply text-white text-base mb-2;
}
FixedIcon {
  @apply fixed w-fixedIcon h-fixedIcon flex justify-center items-center rounded-full  z-50 bottom-4;
}
.navBarButton {
  @apply bg-mainYellow px-20 mt-5   py-3 rounded-lg;
}
ItemOfService {
  @apply m-auto bg-secondaryColor p-5 shadow-lg inline-block ;
}
ItemOfService img {
  @apply w-screen;
}

poster h3 {
  @apply md:text-2xl text-sm font-bold my-5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
Slider {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #343f4f;
}
.wrapper {
  display: flex;
  max-width: 650px;
  width: 100%;
  height: 400px;
  background: #fff;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.wrapper i.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 36px;
  width: 36px;
  background-color: #343f4f;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s linear;
  z-index: 100;
  cursor: pointer;
}
i.button:active {
  transform: scale(0.94) translateY(-50%);
}
i#prev {
  left: 25px;
}
i#next {
  right: 25px;
}
.image-container {
  height: 320px;
  max-width: 500px;
  width: 100%;
  overflow: hidden;
}
.image-container .carousel {
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.4s ease;
}
.carousel img {
  height: 100%;
  width: 100%;
  border-radius: 18px;
  border: 10px solid #fff;
  object-fit: cover;
}
